@import-normalize; /* bring in normalize.css styles */

body {
  background-image: url(./components/img/white.jpg);

  /* background-position: 20% 40%; */
  background-repeat: no-repeat;
  background-size: cover;

  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-color: hsla(180, 48%, 82%, 1);
  background-image: radial-gradient(
      at 88% 25%,
      hsla(323, 42%, 81%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 76% 37%, hsla(120, 60%, 85%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 10%, hsla(341, 11%, 81%, 1) 0px, transparent 50%),
    radial-gradient(at 49% 81%, hsla(338, 9%, 88%, 1) 0px, transparent 50%),
    radial-gradient(at 81% 93%, hsla(0, 12%, 75%, 1) 0px, transparent 50%),
    radial-gradient(at 86% 63%, hsla(240, 37%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 21% 79%, hsla(170, 41%, 75%, 1) 0px, transparent 50%); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

button {
  cursor: pointer;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
}
